name: Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: PurplexityRaidTools

      - name: Create zip
        run: zip -r PurplexityRaidTools-${{ github.event.release.tag_name }}.zip PurplexityRaidTools -x "PurplexityRaidTools/.git/*" -x "PurplexityRaidTools/.github/*"

      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        with:
          files: PurplexityRaidTools-${{ github.event.release.tag_name }}.zip
